/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

/* Estilos para la página de Olvidé mi contraseña */
.forgot-password-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: white;
}

.forgot-password-content1 {
  flex: 1;
  padding: 20px;
}

.title-container1 {
  margin-bottom: 20px;
}

.title-container1 h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #333;
}

.title-container1 p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* Estilos para el formulario */
.form-group1 {
  margin-bottom: 20px;
}

.form-label1 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.form-control1 {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-forgot-password1 {
  background-color: rgb(140, 0, 255) !important;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

/* Imagen de fondo (puedes ajustarla según tu necesidad) */
.forgot-password__bg1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Estilos responsivos */
@media (max-width: 799px) {
  .forgot-password-container1 {
    flex-direction: column;
    text-align: center;
  }

  .forgot-password__bg1 {
    margin-top: 20px;
  }

  .forgot-password-content1 {
    padding: 20px 0;
  }

  .title-container1 {
    margin: 0;
    padding: 0;
  }
}
